@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Vidly!</h1>
    <p class="lead">Vidly is a ASP.NET MVC web application build for managing movie rentals. 
    Utilising a backend API to fetch data.
    This application was completed during Mosh Hamedani's ASP.NET MVC Udemy course</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Languages</h2>
        <p>
            The web application uses Ajax, Jquery, JavaScript, C#, HTML, and CSS
        </p>
    </div>
    <div class="col-md-4">
        <h2>Plugins</h2>
        <p>
            Facebook account authentication, Glimpse, Elmah, Auto Mapper, and Bootbox
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>